# .env.example

# MongoDB connection settings
MONGO_URI=mongodb://username:password@localhost:27017/database_name

# JWT secret
JWT_SECRET=your_jwt_secret_here

# API ports
PORT=3000

# Other configuration variables
OTHER_VARIABLE=value